/* Esercizio 1 */


.ex-1-square {
    transition: 1s;
}

.ex-1-square:hover {
    background-color: #FF0000;
}

/* Esercizio 2 */
.ex-2-square {
    transition: 3s;
}

.ex-2-square:active {
    width: 100%;
}

/* Esercizio 3 */
.ex-3-square {
    transition: 3s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* Esercizio 4 */
.ex-4-square {
    transition: 2s;
}

.ex-4-square:hover {
    opacity: 0;
}


/* Esercizio 5 */
.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover {
    scale: 2;
}

.ex-5-square:active {
    scale: 0.2;
}

/* Esercizio 6 */
.ex-6-img:hover {
    filter: grayscale(100%);
}

/* Esercizio 7 */
.ex-7-img {
    transition: 1s;
}

.ex-7-img:hover {
    filter: blur(5px) grayscale(50%);
}

/* Esercizio 8 */
.ex-8-img {
    transition: 2s;
}

.ex-8-img:hover {
    filter: grayscale(100%);
    border-radius: 20%;
}

/* Esercizio 9 */
.ex-9-img {
    transition: 1s;
}

.ex-9-img:hover {
    filter: blur(10px)grayscale(100%);
    border-radius: 20%;
    transform: scale(2);
}

/* Esercizio 10 */
.ex-10-icon {
    animation: ex-10-icon 1s infinite linear;
}

@keyframes ex-10-icon {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

/* Esercizio 11 */
.ex-11-icon:hover {
    animation: ex-11-icon 2s linear;
}

@keyframes ex-11-icon {
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(300deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Esercizio 12 */
.ex-12-top-white {
    animation: ex-12-top-white 2s infinite;
}

.ex-12-bottom-white {
    animation: ex-12-bottom-white 2s infinite;
}

@keyframes ex-12-top-white {
    0% {
        left: 0%;

    }

    50% {
        left: 69%;

    }

    100% {
        left: 0%;

    }
}

@keyframes ex-12-bottom-white {
    0% {
        right: 0%;
    }

    50% {
        right: 69%;
    }

    100% {
        right: 0%;
    }
}


/* Esercizio 13 */
.ex-13-top-white {
    animation: ex-13-top-white infinite 2s linear;
}

.ex-13-bottom-white {
    animation: ex-13-bottom-white infinite 2s linear;
}


@keyframes ex-13-top-white {
    0% {
        top: -10px;
        left: 10%;
    }

    50% {
        top: -10px;
        left: 90%;
    }

    70% {
        left: 90%;
        top: 54px;
    }

    100% {
        top: 54px;
        left: 50%;
    }
}

@keyframes ex-13-bottom-white {
    0% {
        bottom: -10px;
        right: 20%;
    }

    50% {
        bottom: -10px;
        right: 90%;
    }

    70% {
        right: 90%;
        bottom: 54px;
    }

    100% {
        bottom: 54px;
        right: 60%;
    }
}