/* Esercizio 1 */
.ex-1-square:hover {
    animation-name: one;
    animation-duration: 4s;
}

@keyframes one {
    to {
        background-color: #FF0000;
    }
}

/* Esercizio 2 */
.ex-2-square:active {
    animation-name: two;
    animation-duration: 4s;
}

@keyframes two {
    to {
        width: 100%;
    }
}

/* Esercizio 3 */
.ex-3-square:hover {
    animation-name: three;
    animation-duration: 4s;
}

@keyframes three {
    to {
        border-radius: 50%;
    }
}

/* Esercizio 4 */
.ex-4-square:hover {
    animation-name: four;
    animation-duration: 2s;
}

@keyframes four {
    to {
        opacity: 0%;
    }
}

/* Esercizio 5 */
.ex-5-square:hover {
    animation-name: five;
    animation-duration: 4s;
}

@keyframes five {
    to {
        scale: 2;
    }
}

.ex-5-square:active {
    animation-name: five-2;
    animation-duration: 4s;
}

@keyframes five-2 {
    from {
        scale: 2;
    }

    to {
        scale: 0.5;
    }
}

/* Esercizio 6 */
.ex-6-img:hover {
    animation-name: six;
    filter: grayscale(100%);
}

/* Esercizio 7 */
.ex-7-img:hover {
    animation-name: seven;
    filter: blur(10px);
    animation-duration: 5s;
}

@keyframes seven {
    to {
        filter: grayscale(100%);
    }
}