/* Esercizio 1 */
.ex-1-square:hover {
    animation-name: one;
    animation-duration: 4s;
}

@keyframes one {
    to {
        background-color: #FF0000;
    }
}

/* Esercizio 2 */
.ex-2-square:active {
    animation-name: two;
    animation-duration: 4s;
}

@keyframes two {
    to {
        width: 100%;
    }
}

/* Esercizio 3 */
.ex-3-square:hover {
    animation-name: three;
    animation-duration: 4s;
}

@keyframes three {
    to {
        border-radius: 50%;
    }
}

/* Esercizio 4 */
.ex-4-square:hover {
    animation-name: four;
    animation-duration: 2s;
}

@keyframes four {
    to {
        opacity: 0%;
    }
}

/* Esercizio 5 */
.ex-5-square:hover {
    animation-name: five;
    animation-duration: 4s;
}

@keyframes five {
    to {
        scale: 2;
    }
}

.ex-5-square:active {
    animation-name: five-2;
    animation-duration: 4s;
}

@keyframes five-2 {
    from {
        scale: 2;
    }

    to {
        scale: 0.5;
    }
}

/* Esercizio 6 */
.ex-6-img:hover {
    animation-name: six;
    filter: grayscale(100%);
}

/* Esercizio 7 */
.ex-7-img:hover {
    animation-name: seven;
    filter: blur(10px);
    animation-duration: 5s;
}

@keyframes seven {
    to {
        filter: grayscale(100%);
    }
}

/* Esercizio 8 */
.ex-8-img:hover {
    animation-name: eight;
    filter: blur(10px);
    animation-duration: 8s;
}

@keyframes eight {
    to {
        filter: grayscale(100%);

        border-radius: 20%;
    }
}

/* Esercizio 9 */
.ex-9-img:hover {
    animation-name: nine;
    filter: blur(10px);
    animation-duration: 8s;
}

@keyframes nine {
    to {
        filter: grayscale(100%);

        border-radius: 20%;
        scale: 1.5;
    }
}

/* Esercizio 10 */
.ex-10-icon {
    animation: ex-10-icon 1s infinite linear;
}

@keyframes ex-10-icon {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

/* Esercizio 11 */
.ex-11-icon {
    animation: ex-11-icon 2s infinite linear;
}

@keyframes ex-11-icon {
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Esercizio 12 */
.ex-12-top-white {
    animation: ex-12-top-white 2s infinite;
}

.ex-12-bottom-white {
    animation: ex-12-bottom-white 2s infinite;
}

@keyframes ex-12-top-white {
    0% {
        left: 0%;

    }

    50% {
        left: 69%;

    }

    100% {
        left: 0%;

    }
}

@keyframes ex-12-bottom-white {
    0% {
        right: 0%;
    }

    50% {
        right: 69%;
    }

    100% {
        right: 0%;
    }
}